nav{
	background-color: #CACFD2;
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin : -10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

*{
    background-color : green;
}

h1{
	font-size: 20px;
}

nav div a span {
	color: red;
}

.menu li {
	list-style: none;
}

/******************MENU DEROULANT *****************/
 #menu-deroulant ul li a {
 	margin-right: -10px;
}

#menu-deroulant, #menu-deroulant ul, #menu-deroulant ul li {
    
    padding-right: 400px;
    margin-top: 50px;
    
    list-style: none;
    display: flex;
	
}

 #menu-deroulant li ul li a{
 	/*creer la convention , editer la convention...*/
 	padding: 0px;
 	margin-top: -20px;
}

#menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
}

#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}

#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}

#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#000;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}

#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}